.listOfMovies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  min-height: 100vh;
}

.listOfMovies_item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  background-color: #eee;
  display: inline-block;
  width: 100%;
}
@media (min-width: 600px) {
  :root {
    --results-columns: 3;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 4;
  }
}
